@font-face {
  font-family: 'agothic14';
  src: url('../assets/font/agothic14.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 10vh;
  padding: 10vh;
}

body {
  font-family: agothic14;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background: url('../assets/Drawables/img_bg_login.png');
}

body::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#login-page {
  display: flex;
}

.login-form {
  position: relative;
  z-index: 2;
}

.login-form .login-logo {
  text-align: center;
  size: 32px;
  margin-bottom: 60px;
}

.int-area {
  min-width: 250px;
  position: relative;
  margin-top: 20px;
}

.input-area :first-child {
  margin-top: 0;
}

.int-area input {
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid #999;
  font-size: 18px;
  color: #fff;
  outline: none;
}

.int-area label {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 18px;
  color: #fff;
  transition: all 0.5s ease;
}

.int-area input:focus + label,
.int-area input:valid + label {
  top: -2px;
  font-size: 13px;
  color: #fff;
}

.btn-area {
  margin-top: 30px;
}

.btn-area button {
  width: 100%;
  min-width: 250px;
  height: 50px;
  background: linear-gradient(0.25turn, #39aea1, #76bd72, #80bfb5);
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.btn-area button:hover {
  background: #999;
}

.caption {
  margin-top: 20px;
  text-align: center;
}

.caption a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}
