@font-face {
  font-family: 'agothic14';
  src: url('../assets/font/agothic14.otf');
}

body {
  font-family: agothic14;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  background-size: cover;
  background: white;
}
#root {
  margin: 10px;
}
