/********************
    MANAGEMENT
********************/
/* user-box */
.container.management .user-box {position:relative; display:flex; align-items:center; height:32.6rem; padding:0 0 0 9rem;}
.container.management .user-box .company {position:relative; width:21.2rem; height:20.6rem; border:0.3rem solid rgba(255,255,255,.4); background-color:#0b2a4a; border-radius:3.8rem; text-align:center; line-height:1.3; overflow:hidden; backdrop-filter:blur(18px); -webkit-backdrop-filter:blur(18px);}
/* .container.management .user-box .company::before {content:''; z-index:1; position:absolute; top:0; left:0; width:100%; height:100%; } */
.container.management .user-box .company .txt01 {z-index:2; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:100%; color:#fff; font-size:5.2rem; text-align:center;}
.container.management .user-box .bus {padding-left:4.5rem; color:#fff; line-height:1.3;}
.container.management .user-box .bus .txt01 {padding-bottom:0.5rem; font-size:5.2rem;}
.container.management .user-box .bus .txt02 {font-size:3.4rem; font-weight:400;}
.container.management .user-box .bus .txt02 > strong {font-weight:700;}

.day {position:absolute; bottom:3rem; right:4.8rem; width:18.5rem; height:5.4rem; background:url('../assets/img/ico_day_off.png') no-repeat center; background-size:100%;}
.day.on {background-image:url('../assets/img/ico_day_on.png');}

/* daily-box */
.container.management .inner {background:url('../assets/img/bg_daily02.jpg') no-repeat top center / contain;}
.container.management .daily-box {padding:3.5rem 0;}
.container.management .daily-box .box-inner {display:flex; justify-content:space-between; align-items:center; width:65.4rem; height:12.4rem; margin:0 auto; padding:0 4.6rem; border:0.3rem solid rgba(255, 255, 255, 0.24); border-radius:6.2rem; background-color:rgba(255, 255, 255, 0.4); line-height:1.2;}
.container.management .daily-box .item {height:8.2rem;}
.container.management .daily-box .item + .item {position:relative;}
.container.management .daily-box .item + .item::before {content:''; position:absolute; top:0; left:0; width:0.2rem; height:8.2rem; background-color:#000;}
.container.management .daily-box .item {width:13.4rem; padding:0 2.4rem; text-align:center; white-space:nowrap; box-sizing:content-box;}
.container.management .daily-box .date {display:flex; flex-direction:column; justify-content:space-between; width:14.4rem; font-size:3.4rem;}
.container.management .daily-box .clock {display:flex; flex-direction:column; justify-content:space-between; font-size:3.4rem;}
.container.management .daily-box .item .first {padding-top:0.2rem; font-weight:400; line-height:1;}
.container.management .daily-box .item .second {padding-bottom:0.2rem; line-height:1;}
.container.management .daily-box .clock .second {font-size:3.8rem;}
.container.management .daily-box .weather {height:3.8rem; margin-top:-1rem; padding-top:4.4rem; background:url('../assets/img/ico_weather.png') no-repeat top center / 6.6rem 4.4rem; font-size:3.8rem;}
.container.management .daily-box .weather.ico-weather01 {background-image:url('../assets/img/ico_weather.png')}
.container.management .daily-box .item.weather::before {top:0.5rem;}

/* daily-box(dark-mode) */
.container.management .inner.dark {background-image:url('../assets/img/bg_daily_dark.jpg');}
.container.management .dark-mode .daily-box {color:#fff;}
.container.management .dark-mode .daily-box .item + .item::before {background-color:#fff;}

/* menu-list */
.container.management .menu-list {display:flex; justify-content:space-between; flex-wrap:wrap; padding:4.2rem 4.8rem 21rem; border-top-right-radius:0.8rem; border-top-left-radius:6rem; background-color:#f2f3f7;}
.container.management .menu-list > li {position:relative; width:30.4rem; height:25.5rem; border:1px solid rgba(255, 255, 255, 0.5); border-radius:2rem; background:linear-gradient(-45deg, #f2f3f7, #e8eBf2); box-shadow:2rem 2rem 3rem rgba(15, 41, 107, 0.12); font-size:5.2rem;}
.container.management .menu-list > li:first-child {border-bottom-right-radius:5rem;}
.container.management .menu-list > li:nth-child(2) {border-bottom-left-radius:5rem;}
.container.management .menu-list > li:nth-child(2) ~ li {margin-top:4.8rem;}
.container.management .menu-list > li:last-child {margin-top:3.6rem;}
.container.management .menu-list > li .menu-title {line-height:1.2;}
.container.management .menu-list > li > a {display:block; height:100%; padding:3.4rem 4.4rem;}

.container.management .menu-list .btn-common.btn-disabled {color:#bcbcbc; pointer-events:none;}
.container.management .menu-list .btn-common.btn-disabled::after {content:'준비중'; position:absolute; bottom:2.5rem; right:2rem; color:#007473; font-size:2.8rem;}
.container.management .menu-list .btn-common .notify-txt {display:none;}
.container.management .menu-list .btn-common.btn-holiday .notify-txt {display:block; position:absolute; bottom:2.5rem; right:2rem; color:#e12c03; font-size:2.8rem;}

.container.management .menu-list .icon-box {position:absolute; top:3rem; right:2rem;}
.container.management .menu-list .icon-box > i {display:block; width:6.4rem; height:6.4rem; background-repeat:no-repeat; background-position:center; background-size:5.2rem;}
.container.management .menu-list .icon-box > i.ico-alarm {background-image:url('../assets/img/ico_alarm_off.png'); background-size:6.4rem;}
.container.management .menu-list .icon-box > i.ico-alarm.on {background-image:url('../assets/img/ico_alarm_on.png');}
.container.management .menu-list .icon-box > i.ico-calendar {background-image:url('../assets/img/ico_calendar.png');}
.container.management .menu-list .icon-box > i.ico-request {background-image:url('../assets/img/ico_request.png');}

.container.management .menu-list > li.type-cell .menu-title {text-shadow:0.5rem 0.5rem 1rem rgba(0,0,0,0.14);}
.container.management .menu-list > li.type-cell .btn-disabled .menu-title {text-shadow:none;}
.container.management .menu-list > li.type-cell:nth-child(2n) {text-align:right;}
.container.management .menu-list > li.type-cell:nth-child(2n) .btn-disabled::after {right:auto; left:2rem;}
.container.management .menu-list > li.type-cell:nth-child(2n) .icon-box {position:absolute; top:3rem; left:2rem;}

.container.management .menu-list > li.type-row {width:100%; height:16rem; line-height:16rem; font-size:4.8rem;}
.container.management .menu-list > li.type-row > a {padding:0 4.4rem;}
.container.management .menu-list > li.type-row .btn-disabled::after {position:static; display:inline-block; margin-left:2rem;}
.container.management .menu-list > li.type-row .icon-box {top:0; right:4rem;}
.container.management .menu-list > li.type-row .icon-box > i {display:inline-block; vertical-align:middle;}
.container.management .menu-list > li.type-row .icon-box > i + i {margin-left:3.4rem;}
.container.management .menu-list > li.type-row .date {display:inline-block; width:20rem; padding-left:2rem; font-size:2.8rem; text-align:center; white-space:nowrap; vertical-align:bottom;}
.container.management .menu-list > li.type-row.chk-day .date {color:#007473;}
.container.management .menu-list > li.type-row.chk-timetable .date {color:#767676;}

.container.management .btn-cs {position:absolute; bottom:16.2rem; right:3.6rem; width:12rem; border-radius:50%; box-shadow:0.4rem 0.4rem 1.2rem rgba(0,0,0,0.3);}