#navbar {
  position: fixed;
  top: 0px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
  background-color: white;
  height: 60px;
  padding: 0 30px;
  width: 100%;
}
#logo {
  float: left;
  line-height: 60px;
}
#logo img {
  height: 20px;
  vertical-align: middle;
}
