@font-face {
  font-family: 'agothic14';
  src: url('../assets/font/agothic14.otf');
}

body {
  font-family: agothic14;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#root {
  margin: 10px;
}
.manage-page {
  margin: 50px;
  min-width: 520px;
}
.title-name {
  text-align: center;
  margin-bottom: 50px;
}
.user-info {
  text-align: center;
}
.buttons {
  text-align: center;
  min-width: 500px;
}
.btn {
  margin: 30px;
}
.btn button {
  min-width: 400px;
  min-height: 80px;
  border-style: solid;
  border-width: 1.5px;
  border-color: #c0c0c0;
  border-radius: 1rem;
}
.btn button:hover {
  background-color: rgb(173, 170, 170);
}
.btn button a {
  text-decoration: none;
  font-weight: bold;
  font-size: 35px;
  color: black;
}
